:root {
    --dark-grey: #242E35;
    --super-green: #4AFFC2;
    --light-gray-background: #4B5959;
    --off-white: #e9e9e9;
}

body {
    background-color: var(--light-gray-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.3;
}

/* h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 110%;
} */

/* Old Header + Navbar */
/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3% 3.5% 1.3% 0;
    background-color: var(--dark-grey);
    color: var(--dark-grey);
}

header h1 {
    padding: 0.3% 1% 0.3% 3.5%;
    background-color: var(--super-green);
} */

/* refactored nav container */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--dark-grey);
    color: var(--dark-grey);
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav h1 {
    font-size: 200%;
    padding: 0.5rem;
    background-color: var(--super-green);
}

/* nav links */
.nav-link {
    color: var(--super-green);
    text-decoration: none;
    padding: 1rem 0.5rem;
    
}

.nav-link:hover {
    color: var(--off-white);
}

/* active class for nav tabs */
.active {
    border: 0.03rem solid var(--off-white);
    border-radius: 3%;
}

/* Background Class */
.background {
    height: 250px;
    background-image: url(../images/tumblr_cd9b5975db6cbef169049ee56f3f9a52_77569aae_2048.jpg);
    background-size: cover;
    background-position: bottom;
}

/* refactored flexbox classes */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: inherit;
}

.column {
    flex: 25%;
    padding: 15px;
}

.column h2 {
    font-size: 160%;
    color: var(--super-green);
}

.justify-center {
    justify-content: center;
}

/* .sector-header {
    padding: inherit;
    padding-right: 120px;
    color: var(--super-green);
    width: 100px;
}

.sector-paragraph {
    padding: inherit;
    color: var(--off-white);
}

.sector-line-break {
    border: 1px solid var(--dark-grey);
} */

/* refactored card class */
.card {
    padding: inherit;
}

.card img {
    width: 300px;
    height: 150px;
    border: 5px solid var(--super-green);
    transition: outline 100ms ease-in-out;
}

.card:hover img {
    cursor: pointer;
    outline: 5px solid var(--super-green);
}

.card h3 {
    position: absolute;
    margin-top: 20px;
    padding: 0.3% 0.8% 0.3% 3.5%;
    background-color: var(--super-green);
    color: var(--dark-grey);
}

/* Contact Info Classes + Id's */
.contact-info {
    padding: inherit;
    display: flex;
    flex-wrap: wrap;
    flex: 25%;
    justify-content: space-evenly;
    color: var(--super-green);
    text-decoration: underline solid var(--dark-grey) 2px;
    text-underline-offset: 3px;
}

.contact-info li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info li:hover {
    cursor: pointer;
    color: var(--off-white);
}

/* #number::before {
    content: "📞";
}

#email::before {
    content: "📧";
}

#github::before {
    content: "😺";
}

#twitter::before {
    content: "🐦";
}

#spotify::before {
    content: "🎵";
} */

@media screen and (max-width: 530px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 621px) {
    .sector-column {
        display: inline;
    }
}